# ignore everything (dirs, files, sub-dirs, sub-files)
/Interface
/meshes
/SEQ
/SKSE
/Sound
/textures
/.vscode
*.esm
*.ppj
SkyrimSE.code-workspace
!.gitignore

.gitattributes

Readme - SexLab Framework.txt
scripts/ActorUtil.pex
scripts/JsonUtil.pex
scripts/MiscUtil.pex
scripts/ObjectUtil.pex
scripts/PapyrusUtil.pex
scripts/SexLabFramework.pex
scripts/SexLabUtil.pex
scripts/sslActorAlias.pex
scripts/sslActorCumEffect.pex
scripts/sslActorLibrary.pex
scripts/sslActorStats.pex
scripts/sslAnimationDefaults.pex
scripts/sslAnimationFactory.pex
scripts/sslAnimationSlots.pex
scripts/sslBaseAnimation.pex
scripts/sslBaseObject.pex
scripts/sslBaseVoice.pex
scripts/sslBenchmark.pex
scripts/sslConfigMenu.pex
scripts/sslCreatureAnimationDefaults.pex
scripts/sslCreatureAnimationSlots.pex
scripts/sslEffectDebug.pex
scripts/sslEffectEditor.pex
scripts/sslExpressionDefaults.pex
scripts/sslExpressionFactory.pex
scripts/sslExpressionSlots.pex
scripts/sslObjectFactory.pex
scripts/sslSystemAlias.pex
scripts/sslSystemConfig.pex
scripts/sslSystemLibrary.pex
scripts/sslThreadController.pex
scripts/sslThreadHook.pex
scripts/sslThreadLibrary.pex
scripts/sslThreadModel.pex
scripts/sslThreadSlots.pex
scripts/sslTroubleshoot.pex
scripts/sslUtility.pex
scripts/sslVoiceDefaults.pex
scripts/sslVoiceFactory.pex
scripts/sslVoiceSlots.pex
scripts/StorageUtil.pex
scripts/TestGlobalHook.pex
scripts/Source/ActorUtil.psc
scripts/Source/JsonUtil.psc
scripts/Source/MiscUtil.psc
scripts/Source/ObjectUtil.psc
scripts/Source/PapyrusUtil.psc
scripts/Source/SexLabFramework.psc
scripts/Source/SexLabUtil.psc
scripts/Source/sslActorAlias.psc
scripts/Source/sslActorCumEffect.psc
scripts/Source/sslActorLibrary.psc
scripts/Source/sslActorStats.psc
scripts/Source/sslAnimationDefaults.psc
scripts/Source/sslAnimationFactory.psc
scripts/Source/sslAnimationSlots.psc
scripts/Source/sslBaseAnimation.psc
scripts/Source/sslBaseObject.psc
scripts/Source/sslBaseVoice.psc
scripts/Source/sslBenchmark.psc
scripts/Source/sslConfigMenu.psc
scripts/Source/sslCreatureAnimationDefaults.psc
scripts/Source/sslCreatureAnimationSlots.psc
scripts/Source/sslEffectDebug.psc
scripts/Source/sslEffectEditor.psc
scripts/Source/sslExpressionDefaults.psc
scripts/Source/sslExpressionFactory.psc
scripts/Source/sslExpressionSlots.psc
scripts/Source/sslObjectFactory.psc
scripts/Source/sslSystemAlias.psc
scripts/Source/sslSystemConfig.psc
scripts/Source/sslSystemLibrary.psc
scripts/Source/sslThreadController.psc
scripts/Source/sslThreadHook.psc
scripts/Source/sslThreadLibrary.psc
scripts/Source/sslThreadModel.psc
scripts/Source/sslThreadSlots.psc
scripts/Source/sslTroubleshoot.psc
scripts/Source/sslUtility.psc
scripts/Source/sslVoiceDefaults.psc
scripts/Source/sslVoiceFactory.psc
scripts/Source/sslVoiceSlots.psc
scripts/Source/StorageUtil.psc
scripts/Source/TestGlobalHook.psc
